
body {
	font-family: 'futura';
}

/* Header
-----------------------------------------------------------------------------*/
#header {
}


/* Middle
-----------------------------------------------------------------------------*/
#map{
    width: 800px;
    height: 400px;
}




/* Footer
-----------------------------------------------------------------------------*/
#footer {
}